h1 {
  color: black;
  font-size: 40px;
  font-family: "Arial", Times, serif;
  border-bottom: 6px solid pink;
background-image: url();
}
.questionone
{
  color: black;
  font-size: 20px;
}
.questiontwo
{
  color: black;
  font-size: 20px;
}
.questionthree
{
  color: black;
  font-size: 20px;
}
.button {
max-width: 100%;
max-height: 100%;
      border-radius: 35px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 3px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #7cb9d3;
}

.button1:hover {
    background-color: #7cb9d3;
    color: white;
}

#div1, #div2 {
    float: left;
    width: 50px;
    height: 55px;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
}
.hops{
  padding-bottom: 40px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
body{
  text-align: center;
}
.boxDrag{
  margin: auto;
    width: 50%;
    padding: 6px;
}
